*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: red;


}

li,a,button{
  font-family: monospace;
  font-weight: 200;
  font-size: 22px;
  color: green;
  text-decoration: none;
}
button{
  padding: 10px;
  background: blue;
  border: 2px solid green;
  border-radius: 20px;
  cursor: pointer;

}
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 10px ; */

}

.logo{
  cursor: pointer;

}
.nav_linK {

  list-style: none;
}

.nav_link li{
  display: inline-block;
  padding:  15px;
}
.nav_link li a {
  transition: all 0.3s ease all;
}
.nav_link li a:hover{
  color: orange;
  border: 2px solid black;
  padding: 15px;
  background-color:blue;
  border-radius: 15px;
}

button{
  padding: 20px;
  background-color:orange ;
  border: none;
  border-radius: 50px;
}
.sec p {
  padding: px;
  margin: 40px;
  text-align: center;
  background-color: green;
  height:400px;
}
